<button routerLink="/">กลับหน้าเลือกระบบ</button><br/>
Latitude: <input type="text" value="13.0389" #lati /><br/>
Longitude: <input type="text" value="101.4901" #longi /><br/>
<button (click)="getLaLong(lati.value, longi.value)">Click Si Ja</button>

<div style="width: 100%; height: 500px;" #eleMap></div>
<table *ngIf="resultList" border="1">
    <tr *ngIf="resultList.length">
        <th>SUB_REGION</th>
        <th>STATE_NAME</th>
        <th>STATE_ABBR</th>
    </tr>
    <tr *ngFor="let result of resultList; let index=index; trackBy: trackByFn;" (click)="onRowClick(index)">
        <td>{{ result[0] }}</td>
        <td>{{ result[1] }}</td>
        <td>{{ result[2] }}</td>
    </tr>
</table>
